.menu-items{
    display: flex;
    gap: 15px;
    list-style: none;
}

.menu-items .item{

}

.menu-items .item .item-link{
    text-decoration: none;
    color: var(--gry500);
    font-size: 15px;
    transition: color 0.25s linear;
}

.menu-items .item .item-link.active{
    color: var(--gry800);
}

.menu-items .item .item-link:hover{
    color: var(--gry800);
}