@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root {
  --gry50: #F7FAFC;
  --gry500: #818181;
  --gry800: #1A202C;
  --white: #ffffff;
  --yellow: #E17800;
}

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  max-height: 100vh;
}